*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    background: #f0f0f0;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
}

.toggle-btn{
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-btn span{
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    color: black;
}

.toggle-btn span:nth-child(1){
    top: 0;
}

.toggle-btn span:nth-child(3){
    top: 100%;
}

.logo{
    height: 50px;
    margin: -5px 30px 0;
    cursor: pointer;
}

.search-box{
    position: relative;
    width: 800px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.search-bar{
    width: 90%;
    height: 100%;
    border: 1px solid #dbdbdb;
    padding: 0 15px;
    margin-left: 150px;
    font-size: 16px;
    text-transform: capitalize;
}

.search-btn{
    width: 10%;
    height: 100%;
    background: #f0f0f0;
    border: 1px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
    margin-right: 15px;
}

.search-btn img{
    height: 70%;
    cursor: pointer;
}

.mic-button {
    border-radius: 50%;
    border:transparent;
    cursor: pointer;
}
#mic
{   
    background: #f0f0f0;
    height: 70%;
    border-radius: 50%;
    z-index: -5;
} 

.user-options{
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
}

.user-options .icon{
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
}

.user-dp{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.user-dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main {
    display: flex;
    flex-direction: row;
}

section {
    padding: 100px 30px 18px;
}
.thumbnail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.thumb-wrapper {
    padding-top: 100px;
}
.thumb {
    height: 100px;
    width: fit-content;
    padding-right: 10px;
    padding-bottom: 10px;
}
.details p {
    padding-top: 5px;
    font-size: 0.8rem;
    color: grey;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}
.details h3 {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}
.vid-bottom {
    font-weight: 50;
    line-height: 2;
    font-style: oblique;
}
.vid-bottom p {
    color: grey;
    font-size: 0.9rem;
}
.engagements {
    display: flex;
    align-content: space-between;
    position: absolute;
    padding-top: 10;
    padding-left: 37%;
    cursor: pointer;
    padding-top: 730px;
}
.engagements h4 {
    padding-left: 10px;
    padding-right: 15px;
}


.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    /*width: 120px;*/
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }